@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-gray-900;
}
.hero-bg {
  background-image: url("/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-overlay {
  background: linear-gradient(
    rgba(10, 25, 47, 0.75),
    rgba(10, 25, 47, 0.85)
  );
}
